.hourlies {
   margin: 5vh 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

   .hourlies > h2 {
      font-size: 3em;
   }

   .hourlies > .hourly-summary-box {
      font-size: 1.2em;
      margin: 0 1em;
   }

/*  */
/* Grid template for hourly content */
/*  */

.scrollables > .hourly {
   height: 125px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   text-align: center;
   margin: 5px;
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
}

   .hourly > h5 {
      margin: 5% 0;
      font-size: 20px;
   }

   .hourly > #icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
   }

      .hourly > #icon > span {
         font-size: 3rem;
      }

   .hourly > #time {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }

      .hourly > #time > * {
         margin: 0;
         font-size: 1.3em;
      }

   .hourly > #other {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
   }

      .hourly > #other > h5 {
         margin: 0;
      }

      @media (min-width: 1000px) {
         font-size: 22px;
      }

/* very small devices (iphone se) */
@media (max-width: 400px) {
   .hourly > #time > * {
      margin-left: 7%;
   }
}

@media (min-width: 500px) {
   .hourlies > .hourly-summary-box {
      width: 450px;
   }
}
