:root {
   --shadow-level1: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);   
}

.hourlies {
   margin: 5vh 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: var(--shadow-level1);
}

.hourlies > h2 {
   font-size: 3em;
}

.hourlies > .hourly-summary-box {
   font-size: 1.2em;
}

.scrollables > .hourly {
   height: 125px;
   border: 1px solid rgba(0, 0, 0, 0.3);
   text-align: center;
   margin: 5px;
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
}

.hourly > h5 {
   margin: 5% 0;
   font-size: 20px;
}

.hourly > #icon {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   grid-column: 1 / 2;
   grid-row: 1 / 3;
}

.hourly > #icon > span {
   font-size: 3rem;
}

.hourly > #time {
   grid-column: 2 / 3;
   grid-row: 1 / 3;
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.hourly > #time > h5 {
   margin: 0;
   font-size: 1.15em;
}


.hourly > #other {
   grid-column: 3 / 4;
   grid-row: 1 / 3;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.hourly > #other > h5 {
   font-size: 1.15em;
   margin: 0;
}

/* very small devices (iphone se) */
@media (max-width: 400px) {
   .hourly > #time > h5 {
      margin-left: 7%;
   }
}

@media (min-width: 500px) {
   .hourlies > .hourly-summary-box {
      width: 450px;
   }
}
