/*  */
/* Grid template for hourly content */
/*  */

.nextday-wrapper {
   position: sticky;
   top: -1px;
   background: white;
}

.scrollables > .hourly-wrapper {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   padding: 10px 5px;
}

   .hourly-wrapper > h5 {
      margin: 5% 0;
      font-size: 20px;
   }

   .hourly-wrapper > #icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
   }

      .hourly-wrapper > #icon > span {
         font-size: 3rem;
      }

   .hourly-wrapper > #time {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }

      .hourly-wrapper #time * {
         margin: 0;
         font-size: 4.5vw;
      }

      @media (min-width: 450px) {
         .hourly-wrapper #time * {
            font-size: 1.5em;
         }
      }

   .hourly-wrapper > #other {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
   }

@media (max-width: 400px) {
   .hourly-wrapper > #time > * {
      margin-left: 7%;
   }
}
