:root {
   --shadow-level1: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
   --shadow-level2: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
   --bodyFontColor: #444;
}


/*  */
/* top-level component styling */
/*  */

body {
   margin: 0;
   padding: 0;
   height: 100%;
   color: var(--bodyFontColor);
   font: 14px "Open Sans", Futura, sans-serif;
}

#root {
   display: flex;
   flex-direction: column;
}

.main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex: 1;
}

.controls {
   margin: 1em 0 0 0;
}

   .searchbox {
      width: 60vw;
      font-size: 22px;
      padding: 1vh;
      border-radius: 10px;
   }

      @media (min-width: 500px) {
         .searchbox {
            width: 40vw;
         }
      }

.header {
   margin: 1em 0 0 0;   
}

   .header * {
      font-size: 10vw;
      text-align: center;
      margin: 0;
   }

   @media (min-width: 600px) {
      .header * {
         font-size: 4em;         
      }
   }

/* Time */

.currentTime h5 {
   color: #757575;
   font-size: 1.5em;
   font-style: italic;
   margin: 1em 0 3.5em 0;
}

/* all weekly and hourly cells */

.weatherCells {
   border: 1px solid rgba(0, 0, 0, 0.2);
   text-align: center;
   margin: 0 5px;
   padding: 10px;
   box-shadow: var(--shadow-level2);
}

   .weatherCells #other h5 {
      margin: 0;
      font-size: 4.25vw;
   }

   .weatherCells:last-child {
      margin-bottom: 1em;
   }

   @media (min-width: 450px) {
      .weatherCells #other h5 {
         font-size: 1.5em;
      }
   }

.currently {
   box-shadow: var(--shadow-level1);
   background: white;
}

.alerts {
   box-shadow: var(--shadow-level1);
   background: white;
   position: relative;
}

   .alerts #collapsed-alerts {
      box-shadow: var(--shadow-level1);
   }

.minutely {
   box-shadow: var(--shadow-level1);
   background: white;   
}

.hourlies {
   width: 90%;
   box-shadow: var(--shadow-level1);
   background: white;
   margin: 5vh 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

   .hourlies > h2 {
      font-size: 2.4em;
   }

.dailies {
   width: 90%;
   box-shadow: var(--shadow-level1);
   background: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 5vh 5%;
}

   .dailies > h2 {
      font-size: 3em;
   }

@media (min-width: 600px) {
   .hourlies {
      width: 575px;
   }
   .dailies {
      width: 575px;
   }
}

.scrollables {
   padding: 5px;
   display: flex;
   flex-direction: column;
   overflow-x: scroll;
   width: 97%;
}

.main-summary {
   width: 85%;
   font-size: 4.5vw;
   margin: 0 1em;
}

   .minute-summary-box {
      width: auto;
   }

@media (min-width: 450px) {
   .main-summary {
      font-size: 1.4em;
   }
}

.footer {
   padding: 1rem;
   text-align: center;
   background-color: #E0E0E0;
   margin-top: 5vh;
   font-size: 18px;
}

button {
   border-radius: 7px;
   font-size: 2em;
   transition: 0.15s ease-in;
}

button:hover {
   cursor: pointer;
   background-color: rgb(62, 99, 146);
   color: whitesmoke;
}

button:active {
   background-color: red;
   color: whitesmoke;
}
