.minutely {
   max-width: 400px;
   padding: 1.5em;
   display: flex;
   flex-direction: column;
}

   .minutely-header > h2 {
      font-size: 2em;
      text-align: center;
   }
   
   .chart-container {
      display: flex;
      width: 72vw;
      height: 48vw;
      padding: 0.5em;
   }

@media (max-width: 500px) {
   .minutely {
      width: 75%;
   }
}

@media (min-width: 500px) {
   .chart-container {
      width: 375px;
      height: 220px;
   }
}
