.minutely {
   padding: 1.5em;
   display: flex;
   flex-direction: column;
}

   .minutely-header > h2 {
      font-size: 2em;
      text-align: center;
   }
   
   .minute-summary-box > p {
      font-size: 1.25em;
   }
   
   .chart-container {
      display: flex;
      /* width: 450px;
      height: 225px; */
      width: 72vw;
      height: 25vh;
      padding: 0.5em;
   }

@media (min-width: 500px) {
   .chart-container {
      width: 375px;
      height: 220px;
   }
}
