.dailies {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 5vh 5%;
}

   .dailies > h2 {
      font-size: 3em;
   }

   .dailies > .week-summary-box {
      width: 80%;
      font-size: 1.2em;
   }

   .scrollables > .daily-wrapper {
      height: auto;
      border: 1px solid rgba(0, 0, 0, 0.3);
      text-align: center;
      overflow: auto;
      margin: 5px;
      padding: 10px;
   }

/*  */
/* Grid template for main daily content */
/*  */

.daily-wrapper > .daily {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
}

   .daily > #icon {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
   }

      .daily > #icon > span {
         font-size: 3rem;
      }

   .daily > #time {
      display: flex;
      align-items: center;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      text-align: left;
      margin-left: 1em;
   }

      .daily > #time > h5 {
         margin: 1em 0;
         font-size: 4.5vw;
      }

      @media (min-width: 450px) {
         .daily #time h5 {
            font-size: 1.5em;
         }
      }

   .daily > #other {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
   }

   .daily > #summary {
      grid-row: 2 / 3;
      grid-column: 1 / 4;
      text-align: left;
      margin: 0;
   }

/*  */
/* Extras content */
/*  */

.daily-wrapper > .extras-wrapper > .extras {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}
   .extras-wrapper > hr {
      margin: 1.25em 0;
   }

   .extras > .extras-child {
      margin: 0.5em;
   }

      .extras > .extras-child > p {
         margin: 0.25em 0;
      }

      .extras > .extras-child > i {
         font-size: 1.3em;
      }

   .extras > #uv > p > span {
      padding: 0 3px;
      border-radius: 3px;
   }
