.alerts {
   border: 1px solid black;
   width: 85%;
   display: flex;
   flex-direction: column;
   margin-top: 5%;
   box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

#collapsed-alerts {
   flex-direction: column;
}

#collapsed-alerts > * {
   border-bottom: 1px solid rgb(90, 90, 90);
}

#infobox {
   display: flex;
   align-items: center;
   padding: 1em;
}

#infobox > h3 {
   margin: 0;
}

#infobox > span {
   font-size: 2em;
}

#infobox > span:first-child {
   margin-right: auto;
}

#infobox > span:last-child {
   margin-left: auto;
}

h3 > span {
   float: right;
   margin: 0 20px 0 0;
   font-size: 25px;
   cursor: pointer;
}

h3 > span:first-child {
   float: left;
}

.alerts > h3 {
   margin-left: 20px;
}

.alert > h3 {
   margin: 20px;
}

@media (max-width: 500px) {
   #infobox > h3 {
      margin: 0 0 0 1em;
   }
}