.currently {
   min-width: 400px;
   padding: 15px;
   border: 1px solid green;
   text-align: center;
   margin: 5vh 0;
   font-size: 20px;
   display: flex;
   flex-direction: column;
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);   
}

#icon {
   font-size: 6em;
}

#as-of > * {
   margin: 0;
   font-style: italic;
   color: #757575;
}

#other {
   display: flex;
   justify-content: space-between;
}

#other > span:first-child {
   float: left;
}

#other > span:last-child {
   float: right;
}

#sum {
   margin-bottom: 20px;
}

#other2 > span:first-child {
   float: left;
}

@media (max-width: 500px) {
   .currently {
      min-width: 325px;
   }
}