.hourlies {
   margin: 5vh 0;
}

#day-summary {
   font-style: italic;
}

.scrollables > .hourly {
   min-width: 250px;
   height: 95%;
   border: 1px solid red;
   text-align: center;
   font-size: 1.3em;
   overflow: scroll;
   margin: 5px;
}

.hourly > h5 {
   margin: 5% 0;
   font-size: 15px;
}
