body {
   margin: 0;
   padding: 0;
   height: 100vh;
}

#root {
   display: flex;
   flex-direction: column;
   font: 14px "Open Sans", Futura, sans-serif;
}

.main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex: 1;
}

.footer {
   padding: 1rem;
   text-align: center;
   background-color: #efefef;
}

#pac-input {
   width: 30vw;
   font-size: 22px;
   padding: 1vh;
   border-radius: 10px;
}

.controls > button {
   font-size: 22px;
}

.scrollables {
   display: flex;
   width: 80vw;
   height: 30vh;
   overflow-x: scroll;
   border: 1px solid blue;
}

.scrollables > * {
   min-width: 200px;
   height: 95%;
   border: 1px solid red;
   text-align: center;
   font-size: 1.3em;
   overflow: scroll;
}