body {
   margin: 0;
   padding: 0;
   height: 100%;
}

#root {
   display: flex;
   flex-direction: column;
   font: 14px "Open Sans", Futura, sans-serif;
   margin: 0 5%;
}

.main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex: 1;
}

.footer {
   padding: 1rem;
   text-align: center;
   background-color: #efefef;
   margin-top: 5vh;
   font-size: 18px;
}

.scrollables {
   display: flex;
   width: 90vw;
   height: 35vh;
   overflow-x: scroll;
   border: 1px solid blue;
}

#time {
   font-style: italic;
   font-size: 22px;
   margin: 0 0 5% 0;
   background: cadetblue;
}

button {
   border-radius: 10px;
}

button:hover {
   background-color: rgb(62, 99, 146);
}